body{
    -webkit-background-size: cover;
    -moz-background-size: covscroller;
    background-size: cover;
    -o-background-size: cover;
    padding-top:70px;
    
}
.righteous{
    font-family: 'Righteous', cursive;
}

.trans-nav{
    background-color: rgba(0,0,0,0);
    transition: background 500ms;
}
.navbar-light .navbar-brand {
    /* font-family: 'Raleway', cursive; */
    color: rgba(0,0,0, 0.7);
}
body, html {
    height: 100%;
}
html{
    scroll-behavior: smooth;
}
.myPic{
    max-width: 60%;
    max-height: 80%;
    object-fit: contain;
}

.intro-container{
    width:80vw;
    height: 75vh;
    overflow: hidden;
    /* margin-top:6%; */
}

.landingNote{
    font-family: 'Raleway', sans-serif;
    font-size: calc(20px + (36 - 20) * ((100vw - 300px) / (1600 - 300)));
    color: rgb(105,105,105);
    text-align: center;
}
.landingNote2{
    font-family: 'Raleway', sans-serif;
    font-size: 4vw;
    color: rgb(105,105,105);
    text-align: center; 
}
.landingText{
    font-family: 'Raleway', sans-serif;
    font-size: calc(42px + (118 - 42) * ((100vw - 300px) / (1600 - 300)));
}

.landingLine{
    margin: 0px;
    padding: 0px;
    border-top: 1px solid rgb(105,105,105);
    border-bottom: 2px solid rgba(0,0,0,0.5);
}
.intro-text{
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    padding:1%;
    text-align: center;
    height: 100%;
    width: 100%;
}

.section{
    height:100vh;
}

#me{
    overflow:auto;
    position:relative;
}

.navbar.scrolled{
    background: rgba(115,194,251,0.95);
    transition: background 500ms;

}
.blue-bg{
    background: rgba(115,194,251,0.95);
    transition: background 500ms;
}
#me:before{
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
  
    display: block;
    background-image: url('../../assets/misc/bg.jpg');
    background-size:cover;
    width: 100%;
    height: 100vh;
  
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
    filter: blur(8px);

    background-position: center;
    background-repeat: no-repeat;
}

#projects{
    background-color: pink;
}

#contact{
    background-color: grey;
}
#about{
    background-color: darkorchid;
}
.scroll-down{
    text-align: center;
    font-size: 3.5em;
    color: rgba(0,0,0, 0.4);
}

.scroll-down:hover{
    color: white;
    transition: color 1000ms;
    text-decoration: none;
}
